<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frenchToucan.gphotoshidelens">

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="@string/module_desc"/>
        <meta-data
            android:name="xposedminversion"
            android:value="93"/>
    </application>
</manifest>